<html>
  <head>
  <style>
      body {
        background: <%= css_color %>;
      }
    </style>
  </head>
  <body>
  	<%= random_number %>
  	<form>
		  <input type='text' name='guess' />
		  <input type='submit' value='Guess!' />
		</form>
     <%= message %>
  </body>
</html>