<html>
  <head>
  <style>
      body {
        background: <%= css_color %>;
      }
    </style>
  </head>
  <body>
  	<% if cheat_mode == "true" %>
  		<p>Cheat mode enabled! The secret number is <%= random_number %></p>
  	<% end %>
  	<form>
		  <input type='text' name='guess' />
		  <input type='submit' value='Guess!' />
		</form>
		<p>Guesses remaining: <%= count %></p>
     <%= message %>
  </body>
</html>